section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #4545452e;
  p {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}
.container {
  background: rgb(255 255 255 / 32%);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: auto !important;
  margin-top: 10px;

  .row {
    height: 50%;
    padding: 10px;
    margin-top: 15px;
    .image-box {
      margin-bottom: 30px;
      text-align: center;
      img {
        max-width: 405px;
        min-width: 205px;
        width: 100%;
      }
    }
    .info {
      margin-bottom: 30px;
      text-align: left;
      padding: 0px 20px;
      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 15px 10px;
        border-radius: 10px 10px 0px 0px;
        p {
          margin: 0;
        }
        span {
          font-weight: normal;
          font-size: 16px;
        }
      }

      .attacks {
        border-radius: 0px 0px 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.52) 0px 0px 8px -3px;
        padding: 20px;

        p {
          margin: 0;
        }
        .attack {
          margin-bottom: 30px;
        }

        .attack-list {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          p {
            margin: 0px 0px 0px 20px;
          }
        }
        .abilities {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
        }
        .others {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

          .weakness,
          .resistances {
            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
            }
          }
        }
      }
      .flavortext {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px 10px 0px 10px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.52) 0px 0px 8px -3px;
        padding: 20px;
      }
    }
  }
}

.info-box {
  padding-left: 30px;
}

.metal {
  background: linear-gradient(90deg, #d3d3d3 0%, #57606f 100%);
}

.grass {
  background: linear-gradient(90deg, #c7e5ad 0%, #05834e 100%);
}
.lightning {
  background: linear-gradient(90deg, #f0d55d 0%, #ffb800 100%);
}
.dragon {
  background: linear-gradient(90deg, #ec5223 0%, #6e2108 100%);
}
.darkness {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
}
.colorless {
  background: linear-gradient(90deg, #d1d1d1 0%, #c4c4c4 100%);
  color: rgb(0, 0, 0);
}
.psychic {
  background: linear-gradient(90deg, #7a3cc3 0%, #53197b 100%);
  color: white;
}
.fire {
  background: linear-gradient(90deg, #c4611a 0%, #a60f0f 100%);
  color: white;
}
.water {
  background: linear-gradient(90deg, #43c3ff 0%, #042959 100%);
  color: white;
}
.fighting {
  background: linear-gradient(90deg, #d4611b 0%, #5a0300 100%);
  color: white;
}
.fairy {
  background: linear-gradient(90deg, #feb7d4 0%, #bd0a60 100%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 20%;
    animation: rotate 2s linear infinite;
  }
}
