<header class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img width="32" height="32" src="../assets/pokeball.svg" alt="" class="d-inline-block align-text-top">
      PokeTCG
    </a>
    <button class="menu-button" (click)="toggleSidebar()" *ngIf="!isLoginOn">☰</button>
  </div>
</header>
<div class="sidebar hexagon" [class.active]="sidebarOpen" *ngIf="!isLoginOn" [@fadeInOut]>
  <div class="sidebar-header">
    <i class="fas fa-paw"></i> Pokémon
  </div>
  <br>
  <div class="profile" (click)="toggleProfileOptions()">
    <div class="image-container">
      <img src="../assets/pikachu.jpg" alt="">
    </div>
    <p>Richardy</p>
  </div>
  <div class="other-options" [class.active]="profileOptions" *ngIf="profileOptions" [@fadeInOut]>
    <a [routerLink]="['profile']"><i class="fas fa-fist-raised"></i>Profile</a>
    <div class="log-out" (click)="logOut()"><i class="fas fa-user"></i> Log Out</div>
  </div>
  <a [routerLink]="['cards']"><i class="fas fa-fist-raised"></i> Cards</a>
  <a [routerLink]="['sets']"><i class="fas fa-user"></i> Sets</a>
</div>
<div class="overlay" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>
<router-outlet></router-outlet>